<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>test/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <file>src/PitchBlade/bootstrap.php</file>
                <file>src/PitchBlade/Acl/MissingAccesslevelException.php</file>
                <file>src/PitchBlade/Acl/InvalidAccesslevelException.php</file>
                <file>src/PitchBlade/Acl/MissingGuestException.php</file>
                <file>src/PitchBlade/Acl/InvalidRoleException.php</file>
                <file>src/PitchBlade/Http/RequestData.php</file>
                <file>src/PitchBlade/Form/InvalidFieldException.php</file>
                <file>src/PitchBlade/I18n/Translator.php</file>
                <file>src/PitchBlade/I18n/InvalidTranslationFileException.php</file>
                <file>src/PitchBlade/I18n/Language/InvalidParameterNumberException.php</file>
                <file>src/PitchBlade/I18n/Language/InvalidParameterTypeException.php</file>
                <file>src/PitchBlade/I18n/Language/InvalidRecognizerException.php</file>
                <file>src/PitchBlade/Logging/UnknownTimedLogItemException.php</file>
                <file>src/PitchBlade/Mail/InvalidAddressException.php</file>
                <file>src/PitchBlade/Mail/MissingBodyException.php</file>
                <file>src/PitchBlade/Mail/MissingRecipientException.php</file>
                <file>src/PitchBlade/Mail/SendFailureException.php</file>
                <file>src/PitchBlade/Mvc/Model/InvalidServiceException.php</file>
                <file>src/PitchBlade/Mvc/View/InvalidTemplateException.php</file>
                <file>src/PitchBlade/Mvc/View/InvalidViewException.php</file>
                <file>src/PitchBlade/Mvc/View/UndefinedVariableException.php</file>
                <file>src/PitchBlade/Router/InvalidRouteException.php</file>
                <file>src/PitchBlade/Router/RequestMatcher/UnknownMatcherException.php</file>
                <file>src/PitchBlade/Router/RequestMatcher/InvalidMatcherException.php</file>
                <file>src/PitchBlade/Security/password_compat.php</file>
                <file>src/PitchBlade/Security/Generator/InvalidGeneratorException.php</file>
                <file>src/PitchBlade/Security/Generator/InvalidLengthException.php</file>
                <file>src/PitchBlade/Security/Generator/UnsupportedAlgorithmException.php</file>
                <file>src/PitchBlade/Storage/InvalidKeyException.php</file>
                <directory>demo</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
